fastapi>=0.110,<1.0
uvicorn[standard]>=0.29,<1.0
pydantic>=2.6,<3.0

openai>=1.40.0,<2.0

torch>=2.1.0
transformers>=4.40.0
kobert-transformers
sentencepiece>=0.2.0

numpy
pandas>=2.0.0
scikit-learn
tqdm
